# Dependencias
node_modules/
npm-debug.log
yarn.lock
package-lock.json

# Variables de entorno
.env
.env.local
.env.*.local

# Build
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs
*.log
